

<!-- <div class="logo">
  <img src="../../../../assets/images/logo.png" alt="Logo">
</div> -->

<sidebar-item-section name="">
  <sidebar-item title="" id="burger">
    <span class="burger-line"></span>
    <span class="burger-line"></span>
    <span class="burger-line"></span>
  </sidebar-item>
</sidebar-item-section>

<div class="menu" id="menu">
  <ul class="menu-inner">
      <sidebar-item title="My Progress Tracker" routerLink="/home/{{param1}}/{{param2}}">
        <apps-icon></apps-icon>
      </sidebar-item>
      <sidebar-item title="Multimedia" routerLink="/multimedia/{{param1}}/{{param2}}">
        <photography-icon></photography-icon>
      </sidebar-item>
      <sidebar-item title="Referrals" routerLink="/referrals/{{param1}}/{{param2}}">
        <ar-icon></ar-icon>
      </sidebar-item>
  </ul>
</div>






<!-- <div>
  <sidebar-item-section name="Menu">
    <sidebar-item title="My Progress Tracker" routerLink="/home/{{param1}}/{{param2}}">
      <apps-icon></apps-icon>
    </sidebar-item>
  </sidebar-item-section>
 
  <sidebar-item-section name="Multimedia">
    <sidebar-item title="Multimedia" routerLink="/multimedia/{{param1}}/{{param2}}">
      <photography-icon></photography-icon>
    </sidebar-item>
    <sidebar-item title="Referrals" routerLink="/referrals/{{param1}}/{{param2}}">
      <ar-icon></ar-icon>
    </sidebar-item>
  </sidebar-item-section>
</div> -->